.sidebar {
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 56px;
	width: 236px;
	z-index: 999;
	padding: 10px 12px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*This is the entire sidebar scrollbar*/
.sidebar::-webkit-scrollbar {
	width: 8px;
	display: none;
}

.sidebar:hover::-webkit-scrollbar {
	display: block;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: rgb(131, 130, 130);
	border-block: 5px;
	border-left: none;
	border-right: none;
}

/*Sidebar first child button*/
.home-sidebar-link:first-child {
	background-color: rgb(241, 241, 241);
	font-weight: 500;
	font-size: 14px;
}

.home-sidebar-link:first-child:hover {
	background-color: rgb(233, 233, 233);
}

.home-sidebar-link:first-child:active {
	background-color: rgb(221, 221, 221);
}

/*Sidebar buttons and channels*/
.home-sidebar-link,
.sidebar-channels,
.explore-sidebar-link {
	height: 40px;
	width: 204px;
	padding: 0 12px;
	display: flex;
	align-items: center;
	flex-direction: row;
	border-radius: 9px;
	cursor: pointer;
}

.home-sidebar-link:hover,
.sidebar-channels:hover,
.explore-sidebar-link:hover {
	background-color: rgb(241, 241, 241);
}

.home-sidebar-link img,
.sidebar-channels img,
.explore-sidebar-link img {
	height: 24px;
	margin-right: 23px;
}

/*Sidebar Channel's text limit*/
.ellipsis-text {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar-channels img {
	border-radius: 50%;
}

.home-sidebar-link div,
.sidebar-channels div,
.explore-sidebar-link div {
	font-size: 14px;
}

/*Sidebar line seperator*/
.sidebar-line {
	width: 212px;
	margin: 12px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*Sidebar title text*/
.sidebar-title {
	padding: 6px 12px;
	font-size: 16px;
}

/*Responsive Screen*/
@media (max-width: 475px),
	(min-width: 476px) and (max-width: 650px),
	(min-width: 651px) and (max-width: 850px) {
	/*Sidebar*/
	.sidebar {
		display: none;
	}
}

@media (min-width: 851px) and (max-width: 1100px),
	(min-width: 1101px) and (max-width: 1300px) {
	/*Sidebar*/
	.sidebar {
		width: 70px;
		padding: 2px 3px;
	}

	/*This is the entire sidebar scrollbar*/
	.sidebar:hover::-webkit-scrollbar {
		display: none;
	}

	/*Sidebar first child button*/
	.home-sidebar-link:first-child {
		background-color: transparent;
		font-weight: 400;
		font-size: 10px;
	}

	/*Sidebar buttons*/
	.home-sidebar-link {
		background-color: white;
		height: 74px;
		width: unset;
		padding: 0;
		justify-content: center;
		flex-direction: column;
	}

	.home-sidebar-link img {
		height: 24px;
		margin-right: 0;
		margin-bottom: 5px;
	}

	.home-sidebar-link div {
		font-size: 10px;
	}

	/*The nth-child will select the 6th up to the last child of the class*/
	.home-sidebar-link:nth-child(n + 6),
	.sidebar-line,
	.sidebar-title,
	.sidebar-channels,
	.explore-sidebar-link {
		display: none;
	}
}
